[submodule "apps/bdb-app-user-management"]
	path = apps/bdb-app-user-management
	url = https://github.com/MrPocketMonsters/bdb-app-user-management
[submodule "apps/bdb-app-course-management"]
	path = apps/bdb-app-course-management
	url = https://github.com/MrPocketMonsters/bdb-app-course-management
